<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">{{ title }}</h1>
    <div *ngIf="!submitted">
      <div>
        <p>Change Category:</p>
        <button
          *ngIf="category !== 'question'"
          class="nes-btn is-purple"
          (click)="setCategory('question')"
        >
          Ask a Question
        </button>
        <button
          *ngIf="category !== 'confession'"
          class="nes-btn is-primary"
          (click)="setCategory('confession')"
        >
          Confess a Secret
        </button>
        <button
          *ngIf="category !== 'flirt'"
          class="nes-btn is-error"
          (click)="setCategory('flirt')"
        >
          Send a Romantic Message
        </button>
        <button
          *ngIf="category !== 'compliment'"
          class="nes-btn is-success"
          (click)="setCategory('compliment')"
        >
          Give a Compliment
        </button>
        <button
          *ngIf="category !== 'never'"
          class="nes-btn is-warning"
          (click)="setCategory('never')"
        >
          Never Have I Ever?
        </button>
      </div>
      <img src="assets/img/{{ category }}.png" alt="category" />
      <p>
        {{ description }}
      </p>
      <p>The username field is <strong>entirely optional</strong>!</p>
      <p>
        Note that these submissions are sent to our
        <a href="https://wow-naomi.wtf" target="_blank"
          >18+ Discord server</a
        >
        and will be visible to all members there. If you choose to share your
        username, keep that in mind.
      </p>
      <p>
        There are no restrictions to what you'd like to say (which is why it
        goes to our spicy server). Note that submissions which are not family
        friendly will be posted to our
        <a href="https://twitter.com/n_aomi_sfw" target="_blank"
          >NSFW Twitter account</a
        >, while all other responses will be posted to our
        <a href="https://twitter.com/naomi_lgbt" target="blank"
          >main Twitter account</a
        >.
      </p>
      <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        <label
          >Submission:
          <textarea
            formControlName="question"
            class="nes-textarea"
            required
          ></textarea>
        </label>
        <label
          >Username:
          <input type="text" class="nes-input" formControlName="user" />
        </label>
        <button class="nes-btn" type="submit">Submit</button>
      </form>
    </div>
    <div *ngIf="submitted">
      <p>
        Thanks for sharing! Be sure to monitor Naomi's Twitter accounts for the
        response!
      </p>
      <button (click)="reset()" class="nes-btn">Do another one?</button>
    </div>
    <div *ngIf="error">
      <p>There was an error submitting your question:</p>
      <p>{{ error }}</p>
    </div>
  </div>
</div>
